<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:mht.properties"/>

    <bean id="richObj" class="org.java.export.plugin.Bean.RichObject">
        <property name="docSrcLocationPrex" value="${docSrcLocationPrex}"/>
        <property name="docSrcParent" value="${docSrcParent}"/>
        <property name="nextPartId" value="${nextPartId}"/>
        <property name="shapeidPrex" value="${shapeidPrex}"/>
        <property name="spidPrex" value="${spidPrex}"/>
        <property name="webAppliction" value="${isWebAppliction}"/>
        <property name="typeid" value="${typeid}"/>
    </bean>

</beans>